@media (min-width: 320px) and (max-width: 767px) {

  /*NAVIGATION BAR*/
  .logo {
    width: 16%;
  }

  .burger-icon {
    width: 32px;
  }

  .burger-button {
    padding-left: 105px;
  }

  .burger-button:hover {
    outline: none;
  }

  .ro-ru-elements {
    font-weight: 600;
  }

  .navigation-bar {
    padding: 17px !important;
  }

  .left-nav-elements {
    text-align: center;
    padding: 34px;
  }

  .left-nav-items {
    margin-right: 0;
  }

  .top-button {
    margin-top: 21px;
  }

  .top-button:hover {
    margin-top: 21px;
  }

  /*WELCOME-PART*/
  #welcome-part {
    padding: 0;
  }

  .welcome-button {
    margin-bottom: 24px;
  }


  .brand-style {
    opacity: 0.5;
    height: 245px;
  }

  #beingSalesButton {
    left: 83px;
    z-index: 10;
    width: 76px;
    height: 76px;
  }

  /*OFFERS-HEADING*/
  #offers-heading {
    padding: 12px;
  }

  .offer-title {
    padding: 40px 0;
  }

  .offer-title h2 {
    font-size: 25px;
  }

  .offer-title p {
    font-size: 13px;
  }

  /*CARD-PART*/
  .card-part {
    display: grid;
    grid-template-columns: 1fr;
  }

  .offer-card {
    height: 400px;
  }

  .divider-up {
    margin-bottom: 50px;
    margin-top: 59px;
  }

  /*WHY-CHOOSE-US*/
  .why-choose-us-title {
    padding: 85px 18px 37px;
  }

  .why-choose-us-title h2 {
    font-size: 25px;
  }

  .why-choose-us-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .info-cards {
    padding: 20px;
    margin: 51px 8px;
    height: 148px;
  }

  .circle {
    width: 63px;
    height: 65px;
  }

  .circle-numbers img {
    height: 42px;
    padding-bottom: 12px;
  }

  /*FEEDBACK*/
  .heading-feedback {
    padding: 77px 15px 19px;
  }

  .heading-feedback h2 {
    font-size: 25px;
  }

  .feedback {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 40px;
  }

  .client-card {
    margin-right: 0;
  }

  .client-message {
    height: 148px;
  }

  .icon-type {
    width: 24px;
  }

  #clients-feedback {
    padding-bottom: 30px;
  }

  /*COUNTRIES*/
  .parallax-none-text {
    height: 0;
  }

  .none-text {
    height: 252px;
  }

  .countries-title {
    padding: 64px 12px 30px;
  }

  .countries-title h2 {
    font-size: 25px;
  }

  .countries-image {
    margin: auto;
    width: 200px;
  }

  .country-name {
    font-size: 30px;
  }

  /*MAP*/
  .map-title {
    display: none;
  }

  .title-for-mobile h2 {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
  }

  .title-for-mobile {
    display: block !important;
    padding: 36px 12px 42px;
  }

  .form-title {
    padding: 49px 10px 12px;
  }

  .map-part {
    display: grid;
    grid-template-columns: 1fr;
  }

  .send-button {
    text-align: center;
  }

  .form-button {
    padding: 8px 35px;
    font-size: 14px;
  }

  .frame {
    width: 100%;
  }

  .map-frame {
    padding-top: 50px;
  }

  /*FOOTER*/
  #footer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 49px 51px;
  }

  .footer-content {
    padding-bottom: 56px;
  }

  #footer p {
    font-size: 12px;
  }

  /*COPYRIGHT*/
  #copyright {
    font-size: 12px;
  }

  .footer-button {
    width: 40px;
  }
