body {
  font-family: "Open Sans";
}

/*NAVIGATION BAR*/
#navigation-menu {
  background-color: transparent;
}

.navigation-bar {
  padding: 25px !important;
  background-color: #0000001a;
  transition: all 0.5s;
}

.navigation-bar.scrolled {
  padding: 15px !important;
  background-color: #222222;
}

.logo {
  width: 4%;
}

.ro-ru-elements {
  color: #ffffff;
  font-size: 18px;
  padding-left: 20px;
}

.ro-ru-elements:hover {
  text-decoration: none;
  color: #ec9b3b;
}

.left-nav-elements {
  font-size: 16px;
}

.left-nav-items {
  margin-right: 12px;
  color: #ffffff;
}

.left-nav-items:hover {
  color: #ec9b3b;
}

.top-button {
  border-radius: 25px;
  font-size: 13px;
  border: none;
  padding: 0 40px;
  color: black;
  background-color: white;
  height: 29px;
  margin-top: 6px;
}

.top-button:hover {
  border-radius: 25px;
  font-size: 13px;
  border: none;
  padding: 0 40px;
  color: black;
  background-color: #ec9b3b;
  height: 29px;
  margin-top: 6px;
}

.phone-image {
  width: 17px;
  margin-right: 4px;
}

#welcome-part {
  background-image: url("../images/ostrov.jpg");
  height: 100vh;
  background-size: cover;
  padding: 270px;
  position: relative;
}

.brand {
  text-align: center;
}

.brand-style {
  opacity: 0.4;
  height: 336px;
}

.welcome-button {
  border-radius: 50%;
  padding: 11px 16px;
  position: absolute;
  bottom: 15px;
  background-color: white;
  border: none;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1rem 3rem #212529;
  transition: all 0.1s;
}

.welcome-button:hover {
  padding: 12px 17px;
  box-shadow: 0 1rem 2rem #212529;
  bottom: 13px;
}

.welcome-icon {
  width: 15px;
}

/*FIXED BUTTON*/
#beingSalesButton {
  position: fixed;
  bottom: 30px;
  z-index: 2;
}

.img-circle {
  cursor: pointer;
}

.img-circleblock {
  transform-origin: center;
  font-size: 13px;
  font-weight: 600;
  color: #FFFFFF;
  margin: 16px 0;
  text-align: center;
}

.circle-image-phone {
  width: 39px;
}

/*OFFERS HEADING*/
.offer-title {
  padding: 83px 0;
  text-align: center;
}

.offer-title h2 {
  font-weight: 700;
}

.offer-title p {
  font-size: 17px;
  font-style: italic;
  color: #ffaa01;
  text-transform: uppercase;
  margin-bottom: 23px;
}

/*BEST OFFERS*/
.card-part {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 !important;
}

.offer-card {
  cursor: pointer;
  position: relative;
  background-size: cover;
  height: 350px;
  margin: 3px;
}

.offer-text {
  background-color: #00000057;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 77px;
  padding: 0 14px;
}

.offer-card:hover .offer-text {
  background-color: #ec9b3b;
}

.right-part-text {
  padding: 4px 8px;
  text-align: right;
}

.right-part-text h3 {
  font-size: 22px;
}

.right-part-text p {
  margin-bottom: 9px;
}

.left-part-text {
  padding-top: 5px;
  padding-left: 4px;
}

.left-part-text h5 {
  font-family: "Montserrat";
  font-style: italic;
}

.left-part-text h3 {
  font-size: 21px;
}

/*COUNTRIES HEADING*/
#countries {
  padding-top: 52px;
  padding-bottom: 90px;
}

.countries-title {
  padding: 75px 0 30px;
  text-align: center;
}

.countries-title h2 {
  margin-bottom: 30px;
  font-weight: 700;
}

/*CAROUSEL*/
.top-content {
  margin-bottom: 97px;
}

.countries {
  padding: 50px;
}

.countries-image {
  position: relative;
  border-radius: 50%;
  width: auto;
  background-size: cover;
}

.country-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
  font-weight: 600;
}

/*WHY-CGOOSE-US-HEADING*/
.why-choose-us-title {
  color: white;
  text-align: center;
  padding: 95px 0 37px;
}

.why-choose-us-title h2 {
  text-shadow: 0 0 10px #c5c5c5;
  font-weight: 700;
}

/*WHY-CGOOSE-US*/
.why-choose-us-cards {
  padding: 0px 12px 110px;
  margin: auto;
}

.info-cards {
  background-color: white;
  border: none;
  padding: 20px 20px 0;
  margin: 80px 20px;
  height: 190px;
}

.circle {
  background-color: #ec9b3b;
  padding: 10px;
  text-align: center;
  width: 74px;
  height: 74px;
  margin: auto;
  position: relative;
  margin-top: -60px;
  color: white;
  border-radius: 35px;
}

.circle-numbers {
  font-weight: 600;
  font-size: 36px;
}

.circle-numbers img {
  height: 40px;
}

.cards-content {
  padding: 0;
  padding-top: 30px;
}

.cards-content h5 {
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  color: #222222;
}

.parallax-container-small {
  height: 400px;
}

.parallax__container {
  clip: rect(0, auto, auto, 0);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -100;
}

.parallax {
  position: fixed;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 100%;
  /* BG behaviour */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*FEEDBACK*/
#clients-feedback {
  background-color: #eeeeee;
  padding-bottom: 74px;
}

.heading-feedback {
  text-align: center;
  padding: 100px 0 35px;
}

.heading-feedback h2 {
  margin-bottom: 30px;
  font-weight: 700;
}

.feedback {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 69px;
}

.icon-type {
  padding-bottom: 20px;
  margin: auto;
  width: 30px;
}

.client-card {
  padding: 17px;
  margin-right: 20px;
  text-align: center;
}

.client-photo {
  padding-bottom: 12px;
}

.client-round-image {
  border-radius: 50%;
}

.client-icon-fab {
  height: 22px;
  margin-right: 6px;
}

/*MAP HEADING*/
#map-heading {
  color: white;
}

.map-title {
  color: white;
  text-align: center;
  padding: 95px 0 67px;
}

.map-title h2 {
  font-weight: 700;
}

/*MAP*/
#map {
  background-image: url("../images/map-ground.jpg");
  padding-bottom: 70px;
}

.map-part {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ask-form {
  padding: 20px 20px 0;
}

.form-title {
  color: white;
  text-align: center;
}

.form-title h4 {
  font-weight: 600;
}

.form-button {
  color: white;
  margin-top: 20px;
}

.confidential {
  font-size: 12px;
  font-style: italic;
  color: white;
}

.frame-title {
  color: white;
  margin-bottom: 25px;
  text-align: center;
}

.frame-title h4 {
  font-weight: 600;
}

/*FOOTER*/
#footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #222222;
  color: #ffffff;
  padding: 103px 75px;
}

#footer p {
  font-size: 14px;
  margin: 0;
  line-height: 2;
}

.footer-content {
  margin: auto;
  text-align: center;
}

.footer-heading {
  color: #ec9b3b;
}

.icon-style {
  width: 28px;
  margin-right: 9px;
}

.footer-icons {
  padding: 12px;
}

/*COPYRIGHT*/
#copyright {
  background-color: #444444;
  padding: 36px 0;
  color: white;
  text-align: center;
  position: relative;
}

.footer-button {
  border-radius: 50%;
  padding: 11px 16px;
  position: absolute;
  top: -7px;
  background-color: #ec9b3b;
  border: none;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
  width: 46px;
}

.footer-button:hover {
  padding: 12px 17px;
  box-shadow: 0 1rem 2rem #212529;
}

/*DIVIDERS*/
.divider {
  position: relative;
  height: 1px;
  width: 28%;
  margin: auto;
}

.divider-feed {
  position: relative;
  height: 1px;
  width: 28%;
  margin: auto;
  padding-bottom: 38px;
}

.divider-up {
  position: relative;
  height: 1px;
  width: 28%;
  margin: auto;
  margin-bottom: 70px;
  margin-top: 89px;
}

.divider-feed-up {
  position: relative;
  height: 1px;
  width: 28%;
  margin: auto;
  margin-bottom: 26px;
}

.divider-up-countries {
  position: relative;
  height: 1px;
  width: 28%;
  margin: auto;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 4px;
  background-image: linear-gradient(to right, transparent, #ec9b3b, transparent);
}

.div-arrow-down:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -5px;
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  background-color: white;
  border-bottom: 2px solid #ec9b3b;
  border-right: 2px solid #ec9b3b;
}

.div-arrow-down-feed:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -5px;
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  background-color: #eeeeee;
  border-bottom: 2px solid #ec9b3b;
  border-right: 2px solid #ec9b3b;
}

.div-arrow-down-up:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -5px;
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  transform: rotate(223deg);
  background-color: white;
  border-bottom: 2px solid #ec9b3b;
  border-right: 2px solid #ec9b3b;
}

.div-arrow-down-feed-up:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -5px;
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  transform: rotate(223deg);
  background-color: #eeeeee;
  border-bottom: 2px solid #ec9b3b;
  border-right: 2px solid #ec9b3b;
}

/*VISIBILITY HIDDEN*/
.offer-card.opened .offer-text {
  display: none !important;
}

.offer-card .offer-description {
  display: none !important;
}

.offer-card.opened .offer-description {
  display: block !important;
  height: 100%;
  background-color: #0000008f;
  overflow: scroll;
}

.offer-description {
  padding: 41px 5px 2px;
}

.offer-description h4 {
  text-align: center;
  color: white;
}

.offer-description p {
  padding: 20px;
  color: white;
  font-size: 15px;
}
