@media (min-width: 768px) and (max-width: 1024px) {

  /*NAVIGATION BAR*/
  .logo {
    width: 11%;
  }

  .ro-ru-elements {
    font-size: 25px;
  }

  .burger-icon {
    width: 40px;
  }

  .burger-button {
    padding-left: 279px;
  }

  .burger-button:hover {
    outline: none;
  }

  .left-nav-elements {
    text-align: center;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .left-nav-items {
    margin-bottom: 11px;
    margin-right: 0;
  }

  /*WELCOME PART*/
  #welcome-part {
    padding: 185px;
  }

  .brand-style {
    height: 414px;
  }

  /*BEST OFFER*/
  .card-part {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .offer-card {
    height: 230px;
  }

  /*WHY-CGOOSE-US*/
  .why-choose-us-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .info-cards {
    padding: 30px;
    height: 165px;
  }

  /*FEEDBACK*/

  .feedback {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .client-card {
    padding: 48px;
  }

  .client-message {
    height: 204px;
  }

  /*MAP*/
  .map-part {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 55px;
  }

  .form-title {
    padding-bottom: 15px;
  }

  .frame-title {
    margin-bottom: 30px;
  }

  .frame {
    width: 100%;
  }

  .send-button {
    text-align: center;
    margin: 20px 20px 40px;
  }

  /*FOOTER*/
  #footer p {
    font-size: 11px;
  }

  .footer-content {
    padding: 20px 27px;
  }

  .copyright {
    font-size: 12px;
  }
}
